.App{
    background-color: #f6f6f6;
    color: #0d1d2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-top: 30px;
    font-family: Montserrat;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.topSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.resultSection{
   display: flex;
    justify-content: space-between;
    align-items: center;
}

.expenseBox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 135px;
    height: 60px;
    padding: 5px 10px;
    border-radius: 5px;
}

.expenseBox span{
    font-weight: bold;
    color: green;
}

.btn{
    outline: none;
    border: 1px solid #6d28d9;
    border-radius: 5px;
    color: #6d28d9;
    background-color: #ede9fe;
    padding: 5px 10px;
}

.primary{
    color: #fff;
    background-color: #6d28d9;
    border: none;
    padding: 7px 10px;
}

.cancel{
    color: #dc2626;
    background-color: #fff;
    border: 1px solid #dc2626;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 170px;
    margin-bottom: 30px;
}

input{
    outline: none;
    border: 1px solid #ccc;
    padding: 10px 12px;
    border-radius: 5px;
}

input[type="radio"]{
    margin-left: 10px;
}

.radioBox{
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    align-items: flex-start;
}

.radioBox label{
    margin-left: 3px;
    font-size: 14px;
}

.transaction{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    background-color: #f4f4f5;
    margin-top: 15px;
    border-right: 4px solid green;
}

input.search{
    display: block;
    padding: 10px 12px;
    margin: 20px 0;
    border: 1px solid #ccc;
    background-color: #efefef;
    border-radius: 5px;
    width: 100%;
}